

/* Liste des couleurs : http://fr.wikipedia.org/wiki/Liste_de_couleurs */

body
{
	/*background:url(../images/background.jpg) no-repeat center top;
	background-color: #FCFCFC;
	background-position: fixed;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	margin:0px auto auto auto;*/
}

p
{
}

body {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 15px;
	line-height: 1.42857143;
	color: #2c3e50;
	background-color: #FFF;
}
header {
	text-align: center;
	color: #000;
	background: #FFF;
}

.navbar {
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
}

.navbar-default {
	background-color: lightblue;
	border-color: transparent;
}

#displayCreate, #displayJoin{
	display:none;
}

.margin-top{
	margin-top: 20px;
}

.tchat{
	height: 50vh;

}

.input-group{
	margin-bottom: 20px;
}